.party {
    background-image: url('res/party.jpg');
    background-size: cover;
    /* Adjust the size of the background image */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: center;

}

.partydiv {
    display: block;
}
.party img{height: 350px;}

@media screen and (max-width: 768px) {
    .party img{height: 180px;}
}